* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
    background-color: #a7cee1;
}
footer {
    margin-top: 30px;
}
h1 {
    font-size: 22px;
    margin-bottom: 20px;
}
p {
    font-size: 17px;
    color: #787d90;
}
.container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #f8f8ff;
}
.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    margin: 15px;
}
.img-card img {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
.text-card {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 15px;
    text-align: center;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
